
  .blog-header{
    height: 10%;
    background: #3f51b5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .blog-header span {
      color: #ffffff
  }

  .blog-header button {
    padding: 8px 40px;
    background: #3f51b5;
    border: none;
    cursor: pointer;
  }